.title {
    display: flex;
    align-items: center;
}

.leftBorder {
    border-top: 1px solid black;
    width: 5vw;
    margin-right: 1vw;
}

.content {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.rightBorder {
    border-top: 1px solid black;
    flex: 1;
    margin-left: 1vw;
}